*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
.h1{
    text-align: center;
    margin: 20px;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}